body {
    font-family: 'Dosis', sans-serif;
    height: 100%;
    width: 100%;

}

header{
	
}

.cabecalho{
	   background: #eb9878;
	   width: 100%;
}

.logo{
	height: 200px;
	width: 200px;
	padding: 5px 5px;
}
.titulo{
	font-size: 5em;
	text-align: center;	
	display: inline-block;
	position: absolute;
	padding: 40px 115px;
	width: 50%;
}

.principal{
	background: linear-gradient(#eb9878, #bbc9bc);
}
.texto-valeria{
	width: 940px;
	font-size: 40px;
	padding: 10px;
	margin: 0 auto;
}


.servicos-titulo{
	font-size: 50px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    padding-top: 30px;
    width: 940px;
}

.servicos{
	font-size: 40px;
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
	text-align: center;
	text-decoration: none;
	font-weight: bolder;
}
.servicos li{
	display: inline-block;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
	text-align: center;
	margin: 0 1.5%;
	vertical-align: top;
	padding: 15px 10px;
	text-decoration: none

}
.depilacao-links{
	text-decoration: none;
	color: #000000;

}

.servicos-imagem{
	height: 220px;
	width: 220px;
	position: relative;
	vertical-align: center;
}

.servicos li:hover{
	font-size: 42px;
	transition: 1s all;
}

.mapa {
    padding: 3em 0;
    text-align: center;
}

.mapa-titulo{
	font-size: 45px;
    font-weight: bold;
    padding: 10px;
    padding-bottom: 20px;
}


.mapa-conteudo{
	width: 80%;
	margin: 0 auto;

}

.rodape{
	background: #bbc9bc;
	text-align: center;
}
.contato{
	font-size: 50px;
	font-weight: bold;
	position: relative;
	display: inline-block;
	text-align: center;
	padding: 40px;
	padding-bottom: 10px;
	padding-top: 20px;
}

.home:hover{
	text-decoration: underline;
}

table{
	margin: 20px 0 0px;
	position: relative;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    width: 940px;
}

thead{
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px ;
	font-size: 49px;
	text-align: center;
}

/*css cera*/


.texto-cera{
	font-size: 30px;
	text-align: center;
	padding: 20px;
}
.titulo-cera{
	text-align: center;
	padding: 30px;
	padding-top: 50px;
	font-size: 40px;
	font-weight: bold;
	padding-bottom: 10px;
}

.imagem-promocao{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 100%;
    height: auto;
    width: 940px;
}
